@use '/src/scss/layout.scss';


:host {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 1.4rem 1rem 1.8rem;
    }

.logo-container {
    line-height: 0;
    }

.score-card
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    border-radius: 0.5rem;

    & > * { margin-bottom: 0.1rem; }
    &:last-child { margin-bottom: 0rem; }
}