@use '/src/scss/colors.scss';


:host {
    height: 100%;
    border: 3px solid colors.$header-outline;
    }

.score-card {
    background-color: colors.$surface;
    color: colors.$on-surface;
    & h1 { color: colors.$on-surface-variant; }
    }
