@use '/src/scss/layout.scss';


:host {
    display: flex;
    flex-flow: column;
    & > * { margin-bottom: 0.5rem; }
    & :last-child { margin-bottom: 0; }
    }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { :host {
    align-items: center;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { :host {
    align-items: flex-end;
    } }

button {
    border-radius: 0.5rem;
    padding: 0.6rem 2.2rem;
    }
