
:host
{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.circle
{
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    border-radius: 50%;
    background-color: hsla(0, 0, 100%, 0.03);
    z-index: -1;
}