@use '/src/scss/layout.scss';


:host {
    display: flex;
    flex-flow: column;
    position: relative;
    }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { :host {
    min-height: 100vmax;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { :host {
    min-height: 100vh;
    } }


header {
    margin-left: auto;
    margin-right: auto;
    }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { header {
    padding: 8%;
    width: 84%;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { header {
    padding-top: 3rem;
    width: 44rem;
    } }

/* footer */
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { footer
{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 2rem;
} }
@media only screen and (min-width: layout.$breakpoint-desktop) { footer
{
    display: block;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
} }

main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { main {
    position: absolute;
    top: 0;
    align-items: center;
    justify-items: center;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { main {
    position: relative;
    padding-top: 4%;
    } }
