@use '/src/scss/layout.scss';


header {
    margin-left: auto;
    margin-right: auto;
    }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { header {
    margin: 2rem;
    margin-bottom: 0;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { header {
    margin-top: 2rem;
    width: 40rem;
    } }   

footer {
    position: absolute;
    bottom: 2rem;
    }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { footer {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { footer {
    right: 2rem;
    } }

main {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    }