
<header> <header-content score="{{score}}"></header-content> </header>

<rules-modal
    *ngIf="isRulesModalVisible"
    [onCloseClick]="onRulesClose"
></rules-modal>

<main [ngSwitch]='main_screen'>
    <choice
        *ngSwitchCase="MainScreenStates.Choice" 
        [onChoice]="onChoice"
    ></choice>
    <match
        *ngSwitchCase="MainScreenStates.Match"
        [player_handsign]="player_handsign"
        [house_handsign]="house_handsign"
        [has_house_picked]="has_house_picked"
        [match_result_text]="match_result_text"
        [has_match_ended]="has_match_ended"
        [onPlayAgain]="onPlayAgain"
        [resultBelowAnimationStatus]="resultBelowAnimationStatus"
        [resultBetweenAnimationStatus]="resultBetweenAnimationStatus"
        [playerWon]="playerWon"
        [houseWon]="houseWon"
    ></match>
</main>

<footer>
    <footer-content
        [onRulesClick] = "onRulesClick"
    ></footer-content>
</footer>
