
<div class="card">

    <div class="rules-top-mobile">
        <div class="rules-text">Rules</div>
    </div>
    <div class="rules-top-desktop">
        <div class="rules-text">Rules</div>
        <button class="close-button">
            <img src="/assets/icon-close.svg">
        </button>
    </div>

    <div class="rules-image-container">
        <img src="/assets/image-rules-bonus.svg">
    </div>

    <div class="rules-bottom-mobile">
        <button class="close-button">
            <img src="/assets/icon-close.svg">
        </button>
    </div>

</div>