
<div class="circle-container">
    <div class="circle-item-1">
        <button aria-label="scissors" class="handsign-button" (click)="onChoice(Handsign.Scissors)">
            <handsign [handsign]="Handsign.Scissors"></handsign>
        </button>
    </div>
    <div class="circle-item-2">
        <button aria-label="paper" class="handsign-button" (click)="onChoice(Handsign.Paper)">
            <handsign [handsign]="Handsign.Paper"></handsign>
        </button>
    </div>
    <div class="circle-item-3">
        <button aria-label="rock" class="handsign-button" (click)="onChoice(Handsign.Rock)">
            <handsign [handsign]="Handsign.Rock"></handsign>
        </button>
    </div>
    <div class="circle-item-4">
        <button aria-label="lizard" class="handsign-button" (click)="onChoice(Handsign.Lizard)">
            <handsign [handsign]="Handsign.Lizard"></handsign>
        </button>
    </div>
    <div class="circle-item-5">
        <button aria-label="spock" class="handsign-button" (click)="onChoice(Handsign.Spock)">
            <handsign [handsign]="Handsign.Spock"></handsign>
        </button>
    </div>
</div>