
<div class="picked-handsigns-container">

    <div class="picked-handsign">
        <p>You Picked</p>
        <div class="handsign-container">
            <div class="handsign-background"></div>
            <handsign [handsign]="player_handsign"></handsign>
        </div>
    </div>

    <div class="match-result-between">
        <div class="match-result" [hidden]="!has_match_ended" [@resultBetweenAnimation]="resultBetweenAnimationStatus">
            <p>{{ match_result_text }}</p>
            <button (click)="onPlayAgain()">Play Again</button>
        </div>
    </div>

    <div class="picked-handsign">
        <p>The House Picked</p>
        <div class="handsign-container">
            <div class="handsign-background"></div>
            <handsign [handsign]="house_handsign" *ngIf="has_house_picked"></handsign>
        </div>
    </div>

</div>

<div class="match-result-under">
    <div class="match-result" [hidden]="!has_match_ended" [@resultBelowAnimation]="resultBelowAnimationStatus">
        <p>{{ match_result_text }}</p>
        <button (click)="onPlayAgain()">Play Again</button>
    </div>
</div>
