@use '/src/scss/layout.scss';
@use '/src/scss/colors.scss';


:host
{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { :host {
    handsign { font-size: 14px; } /* for shadow scaling */
    margin: 8%;
    margin-top: 25%;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { :host {
    handsign { font-size: 32px; } /* for shadow scaling */
    } }

.picked-handsigns-container
{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { .picked-handsigns-container {
    width: 100%;
    justify-content: space-between;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { .picked-handsigns-container {
    width: fit-content;
    } }

/* picked-handsign */
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { .picked-handsign {
    display: flex;
    flex-flow: column-reverse;
    width: 42%;
    height: fit-content;
    & p { margin-top: 20%; }
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { .picked-handsign {
    aspect-ratio: 1;
    height: 75%;
    width: fit-content;
    & p { margin-bottom: 15%; }
    } }

.handsign-container
{
    position: relative;
    aspect-ratio: 1;
    display: block;

    & handsign {
        position: absolute;
        height: 100%;
        }
    & .handsign-background {
        position: absolute;
        border-radius: 50%;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: 15%;
        height: 70%;
        width: 70%;
        background-color: hsla(0, 0, 0, 0.1);
        }
}
@media only screen and (max-width: (layout.$breakpoint-desktop - 1)) { .handsign-container {
    width: 100%;
    height: fit-content;
    } }
@media only screen and (min-width: layout.$breakpoint-desktop) { .handsign-container {
    height: 80%;
    margin: 10%;
    width: fit-content;
    } }


@media only screen and (max-width: (layout.$breakpoint-desktop - 1))
{
    .match-result-between { display: none; }
    .match-result-under {
        margin-top: 20%;
    }
}
@media only screen and (min-width: layout.$breakpoint-desktop)
{
    .match-result-under { display: none; }
}

.match-result
{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;

    & button {
        width: 100%;
        padding: 0.8em;
        margin-top: 1em;
        }
}
.match-result-under
{
    height: 8rem;
}
