
@use 'scss/colors.scss' as c;
@use 'scss/layout.scss';


* { margin: 0; padding: 0; }
button { border: none; }
@media only screen and (max-width: (layout.$breakpoint-desktop - 1))
{
    html, body { min-height: 100vmax; }
}
@media only screen and (min-width: layout.$breakpoint-desktop)
{
    html, body { min-height: 100%; }
}


body
{
    background-image: radial-gradient(
        circle farthest-corner at top,
        c.$background-gradient-light,
        c.$background-gradient-dark
        );
    background-repeat: no-repeat;
    color: c.$on-background;
}

a { color: c.$links; }

:root, button
{
    font-family: 'Barlow Semi Condensed';
}