
$background-gradient-light: hsl(214, 47%, 23%);
$background-gradient-dark: hsl(237, 49%, 15%);
$on-background: white;
$header: transparent;
$header-outline: hsl(217, 16%, 45%);
$on-header: white;
$surface: white;
$surface-variant: hsl(240, 0%, 88%);
$on-surface: hsl(229, 25%, 31%);
$on-surface-variant: hsl(229, 64%, 46%);
$button-outline: white;
$on-button: white;
$links: hsl(199, 75%, 67%);

$rock-gradient-dark: hsl(349, 71%, 52%);
$rock-gradient-light: hsl(349, 70%, 56%);
$paper-gradient-dark: hsl(230, 89%, 62%);
$paper-gradient-light: hsl(230, 89%, 65%);
$scissors-gradient-dark: hsl(39, 89%, 49%);
$scissors-gradient-light: hsl(40, 84%, 53%);
$lizard-gradient-light: hsl(261, 73%, 60%);
$lizard-gradient-dark: hsl(261, 72%, 63%);
$spock-gradient-light: hsl(189, 59%, 53%);
$spock-gradient-dark: hsl(189, 58%, 57%);
